footer {
    padding: 40px 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('../../img/newsletter-background.png') no-repeat center;
    color: rgba(255, 255, 255, .7);

    p {
        max-width: 740px;
        margin: 0 auto;
        font: 300 18px/24px $font-roboto-slab;
    }

    a {
        color: #fff;
    }
}

@media (min-width:768px) {
    footer {
        padding: 75px 0 143px;
    }
}

@media (min-width:992px) {
    footer {
        padding: 85px 0 243px;
    }
}