.hero {
    .header {
        position: relative;

        &::before {
            content: '';
            height: 100%;
            width: 100vw;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #fff;
            z-index: 2;
        }
        .header__body {
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            position: relative;
    
            .logo {
                flex: 0 0 150px;
                position: relative;
                z-index: 3;
            }
    
            .header__burger {
                position: relative;
                height: 20px;
                width: 30px;
                z-index: 2;
                
    
                span {
                    height: 2px;
                    width: 100%;
                    position: absolute;
                    top: 9px;
                    left: 0;
                    background-color: $color-bg-primary;
                }
    
                &::before, &::after {
                    content: '';
                    height: 2px;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    background-color: $color-bg-primary;
                    transition: all 0.3s ease 0s;
                }
    
                &::before {
                    top: 0;
                }
    
                &::after {
                    bottom: 0;
                }

                &.active::before {
                    top: 9px;
                    transform: rotate(45deg);
                }

                &.active::after {
                    transform: rotate(-45deg);
                    bottom: 9px;
                }

                &.active span {
                    transform: scale(0);
                    transition: all 0.3s ease 0s;
                }
            }
    
            .header__menu {
                width: 100%;
                padding: 100px 20px 0;
                position: absolute;
                top: -300px;
                left: 0;
                background-color: $color-bg-primary;
                transition: all 0.3s ease 0s;

                &.active {
                    top: 0;
                }

                .header__list {
                    display: flex;
                    flex-direction: column;

                    li {
                        margin: 0 0 20px;
                        font: 18px $font-roboto-slab;
                        color: #fff;
                    }
                }
            }
        }
    }

    .welcome {
        background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('../../img/welcome-background.jpg') no-repeat center;
        background-size: cover;

        &__body {
            padding: 20px 0;
        }

        &__title {
            font: lighter 40px $font-roboto-slab;
            color: #fff;
        }

        &__description {
            margin-bottom: 120px;
            font: bold 25px $font-roboto-slab;
            color: #fff;
        }

        &__list {
            padding: 50px;

            .welcome-item {
                &__img {
                    margin: 0 auto;
                    height: 134px;
                    width: 134px;
                    overflow: hidden;
                    border: 6px solid #fff;
                    border-radius: 50%;
                }

                &__title {
                    margin-bottom: 20px;
                    font: bold 30px $font-roboto-slab;
                    color: #fff;
                }

                &__description {
                    font: 300 15px/2 $font-roboto;
                    color: #fff;
                }
            }
        }
    }
}

@media (min-width:768px) and (min-height:768px) {
    .hero {
        .header {
            .header__body {
                align-items: baseline;
                
                .header__burger {
                    display: none;
                }
            
                .header__menu {
                    width: auto;
                    padding: 0;
                    position: unset;
                    background-color: #fff;
                    z-index: 2;
        
                    .header__list {
                        margin-bottom: 0;
                        align-content: center;
                        flex-direction: row;

                        li {
                            padding: 5px 5px;
                            color: #31353e;

                            &:hover {
                                color: #fff;
                                background-color: $color-bg-primary ;
                                border-radius: 20px;
                            }
                        }
                    }
                }
            }
        }

        .welcome {
            height: calc(100vh - 10px);
            padding: 0;

            &__body {
                height: 100%;
                padding-top: 0;
            }

            &__title {
                font-size: 72px;
            }
    
            &__description {
                margin-bottom: 10px;
                font-size: 30px;
            }

            &__list {
                margin-bottom: 20px;
                padding: 0;
            }
        }
    }
}

@media (min-width:992px) and (min-height:768px) {
    .hero {
        .header {
            padding: 20px 0 10px;

            .header__body {
                .header__menu {
                    .header__list {
                        li {
                            padding: 10px 15px;

                            &:hover {
                                border-radius: 25px;
                            }
                        }
                    }
                }
            }
        }

        .welcome {
            height: calc(100vh - 120px);

            &__list {
                margin-bottom: 50px;
            }

            &__description {
                margin-bottom: 30px;
            }
        }
    }
}

@media (min-width:992px) and (min-height:992px) {
    .hero {
        .welcome {
            &__description {
                margin-bottom: 120px;
            }
        }
    }
}