.newsletter {
    padding: 20px 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('../../img/newsletter-background.png') no-repeat center;
    background-size: cover;
    color: #fff;

    &__title {
        font: bold 30px $font-roboto-slab;
    }

    &__description {
        font: 15px/24px $font-roboto;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        input {
            width: 300px;
            margin-bottom: 10px;
            padding: 12px 20px;
            font: 18px $font-roboto-slab;
            outline: none;
            border: solid 1px rgba(255, 255, 255, 0.5);
            border-radius: 27px;
            background-color: rgba(255, 255, 255, .3);
            color: #fff;

            &::placeholder {
                color: #f3f4f6;
            }
        }
    }
}

@media (min-width:768px) {
    .newsletter {
        padding: 40px 0 60px;
        &__description {
            max-width: 533px;
            margin: 0 auto 30px;
        }

        &__form {
            position: relative;
            display: inline-flex;
            
            input {
                width: 530px;
            }
    
            button {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
}

@media (min-width:992px) {
    .newsletter {
        padding: 80px 0 110px;
    }
}