.our-news {
    padding: 20px 0;
    text-align: center;
    color: #31353e;

    &__title {
        margin-bottom: 20px;
        font: bold 30px $font-roboto-slab;
    }

    .our-news-item {
        margin-bottom: 20px;

        &__img {
            margin-bottom: 10px;
        }

        h4 {
            font: bold 24px $font-roboto-slab;
        }

        p, a {
            font: 300 15px $font-roboto;  
        }

        a {
            &:hover {
                color: $color-bg-primary;
            }
        }
    }
}

@media (min-width:768px) {
    .our-news {
        padding: 40px 0;
    
        &__title {
            margin-bottom: 40px;
        }
    
        .our-news-item {
            margin-bottom: 0;
    
            &__img {
                margin-bottom: 20px;
            }

            p {
                padding: 0 10px;
                display: inline-block;
                font: 300 15px/30px $font-roboto;  
            }
        }
    }
}

@media (min-width:992px) {
    .our-news {
        padding: 80px 0;
    
        &__title {
            margin-bottom: 80px;
        }
    
        .our-news-item {
            &__img {
                margin-bottom: 40px;
            }

            p {
                padding: 0 30px;
            }
        }
    }
}