.proposition {
    padding: 20px 0;
    background-color: #d75d0e;

    &__list {
        .proposition-item {
            display: flex;
            flex-direction: column;
            text-align: center;
            color: #fff;

            a {
                font: 18px/36px $font-roboto;
            }
        }
    }
}

@media (min-width:768px) {
    .proposition {
        padding: 40px 0;
    }
}

@media (min-width:992px) {
    .proposition {
        padding: 90px 0;
    }
}