.project {
    padding: 20px 0;

    &__list {
        .project-item {
            margin-bottom: 20px;
            text-align: center;

            &__main {
                color: #191b29;

                h3 {
                    margin-bottom: 20px;
                    font: bold 30px $font-roboto-slab;
                }

                p {
                    font: 300 16px $font-roboto;
                }

                .main-btn {
                    margin-bottom: 20px;
                }
            }

            &:nth-child(2n+1) {
                .main-btn {
                    background-color: $color-bg-primary;
                    color: #fff;

                    &:hover, &:focus, &:active {
                        border: 1px solid #4b4e73;
                        background-color: #4b4e73;
                    }
                }
            }

            &:nth-child(2n) {
                .main-btn {
                    background-color: #4b4e73;
                    color: #fff;

                    &:hover, &:focus, &:active {
                        border: 1px solid $color-bg-primary;
                        background-color: $color-bg-primary;
                    }
                }
            }
        }
    }    
}

@media (min-width:768px) {
    .project {
        padding: 40px 0;
    
        &__list {
            .project-item {
                margin: 0 0 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 40px;
                text-align: left;
    
                &__main {
                    .main-btn {
                        margin: 0;
                    }
                }

                &:nth-child(2n) {
                    flex-direction: row-reverse;
                }
            }
        }    
    }
}


@media (min-width:992px) {
    .project {
        padding: 70px 0;
    
        &__list {
            .project-item {
                margin: 0 0 54px;
                gap: 63px;
    
                &__main {
                   p {
                    margin-bottom: 45px;
                   }
                }
    
                &:nth-child(2n) {
                    flex-direction: row-reverse;
                }
            }
        }    
    }
}