@import "base/customize";

@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "base/var";
@import "base/common";

@import "component/button";

@import "layout/hero";
@import "layout/our-news";
@import "layout/newsletter";
@import "layout/project";
@import "layout/proposition";
@import "layout/footer";