.main-btn {
    padding: 12px 50px;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
    font: 18px $font-roboto-slab;
    border: 1px solid #fff;
    border-radius: 27px;
    background-color: #fff;
    color: #612316;

    &:hover, &:focus, &:active {
        box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
        transform: scale(1.1);
        border: 1px solid $color-bg-primary;
        background-color: $color-bg-primary;
        color: #fff;
    }
}
